<!doctype html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Panel</title>

        <link 
            rel="stylesheet" 
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
            crossorigin="anonymous" 
            referrerpolicy="no-referrer"
        />
    </head>
    <body class="relative min-h-screen antialiased">
        <div class="fixed inset-0 bg-black/35 pointer-events-none z-[-1]"></div>
        
        <slot />
    </body>
</html>

<style is:global>
    /* 预留全局变量定义，方便后续组件调用 */
    :root {
        --primary: #3b82f6; /* 默认蓝色，可根据喜好修改 */
    }
</style>